In [9]:
## 열거형 ##
# 리스트 #                   1차원배열 Vector(R 이름부여)

# 순차적인 객체들의 집합
# 인덱스 자동 부여
# [] 로 표시
# 추가 삽입 삭제 가능
    
# C        int m[3];                    int m[3] = {10, 20, 30}
# Java     int m[] = new int[3]         int m[] = new int[] {10, 20, 30}
# Python   m = []                       m = [10, 20, 30]

fruits = ['banana', 'apple', 'melon', 'kiwi', 'pear']
print( fruits )

print( fruits[0] )
print( fruits[0:3] )                    # end -1
print( fruits[:-1] )
print( fruits[0:3] )
print( fruits[3][0] )                   # 2차원 배열

['banana', 'apple', 'melon', 'kiwi', 'pear']
banana
['banana', 'apple', 'melon']
['banana', 'apple', 'melon', 'kiwi']
['banana', 'apple', 'melon']
k

In [40]:
print( len( fruits ) )
print( fruits.count( 'banana' ) )
print( max( fruits ) )
print( min( fruits ) )
fruits.append( 'orange' )
print( fruits )
print( fruits.index( 'apple' ) )
# print( fruits.index( 'app' ) )                ValueError
# print( fruits.find( 'app' ) )                 Error
fruits.insert( 2, 'graph' )
print( fruits )
fruits.remove( 'orange' )                     # 1개씩 삭제
fruits.remove( 'graph' )                      # 1개씩 삭제  없으면 ValueError 
print( fruits )
fruits.sort()
print( fruits )
fruits.sort( reverse=True )
print( fruits )

5
1
pear
apple
['apple', 'banana', 'kiwi', 'melon', 'pear', 'orange']
0
['apple', 'banana', 'graph', 'kiwi', 'melon', 'pear', 'orange']
['apple', 'banana', 'kiwi', 'melon', 'pear']
['apple', 'banana', 'kiwi', 'melon', 'pear']
['pear', 'melon', 'kiwi', 'banana', 'apple']

In [50]:
# 하위 리스트
shop = ['라면', '김치', '햇반', '계란']
shoplist = [fruits, shop]
print( shoplist )
print( shoplist[0] )
print( shoplist[1] )
print( shoplist[0][1] )
print( shoplist[0][1:4] )
shoplist[1].append( '도시락' )
print( shoplist )
shoplist.append( '배추' )
print( shoplist )

[['pear', 'melon', 'kiwi', 'banana', 'apple'], ['라면', '김치', '햇반', '계란']]
['pear', 'melon', 'kiwi', 'banana', 'apple']
['라면', '김치', '햇반', '계란']
melon
['melon', 'kiwi', 'banana']
[['pear', 'melon', 'kiwi', 'banana', 'apple'], ['라면', '김치', '햇반', '계란', '도시락']]
[['pear', 'melon', 'kiwi', 'banana', 'apple'], ['라면', '김치', '햇반', '계란', '도시락'], '배추']

In [69]:
# 튜플 Tuple #
# 여러 개의 객체를 모아 담는 데 사용 
# 리스트와 비슷하지만 변경 불가능
# 인덱스가 자동으로 부여
# 생략할 수 있는 괄호로 묶인 쉼표로 구분된 항목들로 정의
# 단순 값들의 목록을 다루는 구문이나 사용자 정의 함수에서 주로 사용

# tuple()         list -> tuple
# list()          tuple -> list
# 서로 호환이 된다. 단 복사본이 생긴다.

zoo = ( 'dog', 'cat', 'tiger', 'sanke' )
print( zoo )
a, b = 10, 20
zoo = zoo, 'lion'
print( zoo )
print( zoo[0] )
print( zoo[1] )
print( zoo[0][1:3] )
# zoo.append( '토끼' )

zoolist = list( zoo )
print( zoolist )
zoolist.append( '토끼' )

zootuple = tuple( zoolist )
print( zootuple)

a, b, c = zootuple
print( a )
print( b )
print( c )

('dog', 'cat', 'tiger', 'sanke')
(('dog', 'cat', 'tiger', 'sanke'), 'lion')
('dog', 'cat', 'tiger', 'sanke')
lion
('cat', 'tiger')
[('dog', 'cat', 'tiger', 'sanke'), 'lion']
(('dog', 'cat', 'tiger', 'sanke'), 'lion', '토끼')
('dog', 'cat', 'tiger', 'sanke')
lion
토끼

In [95]:
## Dictionary ##
# 맵과 같이 키와 값을 쌍으로 {key:value, key:value}의 형태로 선언하는 구조
# key와 value의 자료형은 상관없다.
# 저장된 자료의 순서는 의미가 없다.
# 키는 사전에서 유일한 값
# 키로는 단순 객체만 사용할 수 있다.

# Java              Map map = new HashMap();     map.put( key, value )

kim = {'name':'kim', 'age':30, 'tel':'1111-2222', 'address':'서울시'}
print( kim )
print( kim['name'] )
print( kim.get( 'name' ) )

# 슬라이싱 반복문 X
# print( kim['name':'tel'] )               # TypeError
for key, value in kim.items() :
    print( key, value)

if 'id' not in kim.keys() :
    kim['id'] = 'aaa'
print( kim )    

del( kim['id'] )
print( kim )

{'name': 'kim', 'age': 30, 'tel': '1111-2222', 'address': '서울시'}
kim
kim
name kim
age 30
tel 1111-2222
address 서울시
{'name': 'kim', 'age': 30, 'tel': '1111-2222', 'address': '서울시', 'id': 'aaa'}
{'name': 'kim', 'age': 30, 'tel': '1111-2222', 'address': '서울시'}

In [113]:
## Set ##  집합
# index 가 없다
# 단순만 묶음
# 중복이 안된다. 
# 데이터가 많으면 느리다.
# 합집합 차집합 교집합 

country = set( ['korea', 'japan', 'china', 'USA'] )
print( country )
country.add( 'korea' )
print( country )
country.add( 'russia' )
print( country )
country.remove( 'japan' )
print( country )


# | union() & intersection() - difference
nation = country.copy()
nation.add( 'japan' )
nation.add( 'taiwan' )
nation.remove( 'russia' )
print( nation )

u = country | nation
print( u )

i = country & nation
print( i )

d = country - nation
print( d )

{'china', 'japan', 'korea', 'USA'}
{'china', 'japan', 'korea', 'USA'}
{'korea', 'china', 'russia', 'USA', 'japan'}
{'korea', 'china', 'russia', 'USA'}
{'korea', 'china', 'USA', 'taiwan', 'japan'}
{'korea', 'china', 'russia', 'USA', 'taiwan', 'japan'}
{'china', 'korea', 'USA'}
{'russia'}

In [119]:
# 콘솔입출력
# a = input( '정수 : ' )
# print( 'a :', a )
# print( type( a ) )

# a = input( "정수 :" )
# b = input( "정수 :" )
# c = a + b
# print( c )                     # 1020

a = eval( input( "정수 :" ) )
b = eval( input( "정수 :" ) )
c = a + b
print( c )                      # 30

정수 :10
정수 :20
30

In [124]:
## 제어문 ##
# if #

# if 조건 : 
#     참

# if 조건 : 
#     참
# else
#     거짓
a = eval( input( "정수 :" ) )
if a > 5 :
    print( '크다' )                # 참
else :
    print( '작다' )                # 거짓

if a>=1 and a<=100 :
    print( a, ':', '적정' )
else :
    print( a, ':', '오류' )

정수 :95
크다
95 : 적정

In [133]:
# 다중 if ~ else
# if 조건 :
#     참
# elif 조건 :
#     참
# ...
# else :
#     거짓

score = eval( input( '점수 : ' ) )
if score >= 0 and score <= 100 :
    if score >= 90 :
        print( score, ':', 'A 학점' )
    elif score >= 80 :
        print( score, ':', 'B 학점' )
    elif score >= 70 :
        print( score, ':', 'C 학점' )
    elif score >= 60 :
        print( score, ':', 'D 학점' )
    else :
        print( score, ':', 'F 학점' )
else :
#     print( "0~100 사이를 입력하세요" )
    pass

# switch~case 없다. 분기가 있기 때문에

점수 : 1000

In [136]:
# 반복문 #
# for ~ else 

# R          req( 시작, 끝, by=증감값 )
# Python     range( 시작, 끝, 증값 )      -1 끝

for i in range( 1, 10 ) :                 # end -1
    print( i, end= ' ' )
print()    

for i in range( 1, 10, 2 ) :
    print( i, end=' ' )
print()    
for i in range( 10, 0, -1 ) :
    print( i, end=' ' )
print()

1 2 3 4 5 6 7 8 9
1 3 5 7 9
10 9 8 7 6 5 4 3 2 1

In [152]:
# 나열형
a = [ 10, 40, 59, 28, 37, 49 ]            # list
for i in a :
    print( i, end= ' ')
print()    
b = ( 'A', 'C', 'F', 'D', 'G', 'B' )      # tuple
for i in b :
    print( i, end=' ' )
print()    

for i in 'ABCDEFGH' :                     # strings
    print( i, end=' ' )
print()

c = set( [10, 49, 35, 37, 28, 93] )
for i in c :
    print( i, end=' ' )
print()

d = {'A':10, 'B':20, 'C':50, 'H':20, 'E':30 }
for i in d :
    print( i, end=' ' )
print()

for i in d.values() :
    print( i, end=' ' )
print()
for i in d.keys() :
    print( i, end=' ' )
print()
for key, value in d.items() :
    print( key, ':', value )
print()

e =[(1,10), (2,20), (4,40), (8,50), (3,70)]                      # 리스트( 튜플 )
for x, y in e :
    print( x, ':', y )
print()    

# 리스트 축약
f = [2, 3, 4, 8, 10]
# g = [ i for i in range(2, 11, 2)]
g = [ i*2 for i in range(1,6)  ]
for i in g :
    print( i, end=' ' )
print()

10 40 59 28 37 49
A C F D G B
A B C D E F G H
35 37 10 49 28 93
A B C H E
10 20 50 20 30
A B C H E
A : 10
B : 20
C : 50
H : 20
E : 30

1 : 10
2 : 20
4 : 40
8 : 50
3 : 70

2 4 6 8 10

In [160]:
# while ~ else 

for i in range( 1,11 ) :
    print( i, end=' ' )
else :
    print( i )                         # C for( int i=1; i<11; i++ ){}          11
                                       # Java  for( int i=1; i<11; i++ ){}      error 발생. 지역변수 O 
print()                                # Python 10 지역변수 X


for i in range( 1,11 ) :              
    print( i, end=' ' )                
print( i )                             # 10

i = 0                   # 초기값
while( i < 10 ) :       # 조건            반복하는 범위   
    i += 1              # 증감값
    print( i, end=' ' )
print()    

i = 0
while True :
    i += 1 
    if i > 10 : break
    if i%2 == 1 : continue;         # 반복문의 처음으로 돌아가라
    print( i, end=' ' )    
print()    

# do ~ while 없다.

1 2 3 4 5 6 7 8 9 10 10

1 2 3 4 5 6 7 8 9 10 10
1 2 3 4 5 6 7 8 9 10
2 4 6 8 10

In [164]:
## enumerate() ##
# index 없어서 반복문을 돌릴 수 없는 경우 

nations = set( ['korea', 'japan', 'china', 'taiwan', 'russia'] )
for i in nations :
    print( i, end=' ' )
print()    

for i, nation in enumerate( nations ) :
    print( i, ':', nation )
print()    

for i, nation in enumerate( nations, 100 ) :
    print( i, ':', nation )
print()

korea china taiwan russia japan
0 : korea
1 : china
2 : taiwan
3 : russia
4 : japan

100 : korea
101 : china
102 : taiwan
103 : russia
104 : japan

In [1]:
# 다중반복문 #
# *
# **
# ***
# ****
# *****

for i in range(5):
    for j in range(i+1):
        print('*', end='')
    print()
print()

*
**
***
****
*****

In [2]:
# *****
# ****
# ***
# **
# *

for i in range(5):
    for j in range(5-i):
        print('*', end='')
    print()
print()

*****
****
***
**
*

In [3]:
#     *
#    **
#   ***
#  ****
# *****

for i in range(5):
    for j in range(1,5-i):
        print(' ', end ='')
    for k in range(i+1):
        print('*', end = '')
    print()
print()

    *
   **
  ***
 ****
*****

In [4]:
# *****
#  ****
#   ***
#    **
#     *

for i in range(5):
    for j in range(i):
        print(' ', end ='')
    for k in range(i,5):
        print('*', end = '')
    print()
print()

*****
 ****
  ***
   **
    *

In [5]:
#     **
#    ****
#   ******
#  ********
# **********
# **********
#  ********
#   ******
#    ****
#     **

for i in range(5):
    for j in range(1,5-i):
        print(' ', end ='')
    for j in range(i+1):
        print('*', end = '')
    for j in range(i+1):
        print('*', end = '')
    print()
for i in range(5):
    for j in range(i):
        print(' ', end ='')
    for k in range(i,5):
        print('*', end = '')
    for j in range(5-i):
        print('*', end='')
    print()
print()

    **
   ****
  ******
 ********
**********
**********
 ********
  ******
   ****
    **